* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url('./assets/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Noto Sans KR", 'Courier New', monospace;
}
