.swiper {
    width: 100%;
    /*height: 600px;*/
    padding: 30px;
    text-align: left;
}
.swiper-wrapper {}
.swiper-slide {
    /*background: #178844;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 20px;
}