.P_header_box{
    height: 60px;
    background: #178844;
    width: 100%;
}
.product-header, .products-con ul, .products {
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-con {}
.products-con ul {
    padding: 100px 0 40px;
}
.products-con ul li {
    background: #4CAF50;
    padding: 6px 12px;
    margin-left: 20px;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
}
.product-header {
    width: 100vw;
    height: 350px;
    border-radius: 0 0 30px 30px;
    background: url("../assets/img/margot-richard-NJJ7paSBO-c-unsplash.jpg") no-repeat;
    background-size: cover;
    color: #fff;
}
.products {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
}
.products button {
    width: 100px;
    color: #fff;
    border: none;
    padding: 6px 16px;
    background: #4CAF50;
}
.products img {
    /*height: 600px;*/
    /*background-size: cover;*/
}